html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 50px;
}

#map {
    height: 100%;
    margin-top: 0px;
    border: solid;
    border-color: #FFFFFF;
    border-top-width: 15px;
    border-bottom-width: 15px;
    width: 100%;
}

.content {
    text-align: center;
}

.details {}
